bench filter=lfs diff=lfs merge=lfs -text
config.h filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_MIT filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
xkbcommon filter=lfs diff=lfs merge=lfs -text
xkbregistry.map filter=lfs diff=lfs merge=lfs -text
meson.build filter=lfs diff=lfs merge=lfs -text
PACKAGING filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
xkbcommon.map filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
config filter=lfs diff=lfs merge=lfs -text
fuzz filter=lfs diff=lfs merge=lfs -text
meson_options.txt filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NEWS filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
xkbcommon-x11.map filter=lfs diff=lfs merge=lfs -text
